In [1]:
import numpy as np
import pandas as pd

# Importing the dataset

In [2]:
dfTrain = pd.read_csv('adult.data', skipinitialspace=True)
dfTrain.columns = ["age" , "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
dfTest = pd.read_csv('adult.test', skipinitialspace=True)
dfTest.columns = ["age" , "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
dfTest["income"] = dfTest["income"].str.replace('.', '')

<ipython-input-2-8d10fcb8645b>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  dfTest["income"] = dfTest["income"].str.replace('.', '')

In [3]:
dfTrain

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
dfTest

,age,workclass,fnlwgt,education,educationNum,maritalStatus,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
1,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
2,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
3,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
4,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16275,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
16276,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
16277,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
16278,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
16279,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [4]:
print('train length = ', len(dfTrain))
print('test length = ', len(dfTest))

train length =  32560
test length =  16280

# Remove records with unknown values

In [3]:
dfTrain = dfTrain[(dfTrain.values != '?').all(axis=1)]
dfTest = dfTest[(dfTest.values != '?').all(axis=1)]

In [6]:
print('train length = ', len(dfTrain))
print('test length = ', len(dfTest))

train length =  30161
test length =  15059

# Encoding categorical data

In [4]:
def oneHotBind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[feature_to_encode])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop(feature_to_encode, axis=1)
    return (res)

In [5]:
dfTrain = oneHotBind(dfTrain, ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"])
dfTest = oneHotBind(dfTest, ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"])

In [6]:
dfTrain.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,50,83311,13,0,0,13,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,215646,9,0,0,40,<=50K,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,53,234721,7,0,0,40,<=50K,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,28,338409,13,0,0,40,<=50K,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,37,284582,14,0,0,40,<=50K,0,0,1,...,0,0,0,0,0,0,0,1,0,0

# Transform numerical attribute

In [7]:
def numericalBinary(dataset, features):
    dataset[features] = np.where(dataset[features] >= dataset[features].mean(), 1, 0)

In [8]:
numericalBinary(dfTrain, ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week'])
numericalBinary(dfTest, ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week'])

In [9]:
dfTrain.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,1,0,1,0,0,0,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,1,0,0,0,0,<=50K,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,1,1,0,0,0,0,<=50K,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,0,1,1,0,0,0,<=50K,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,0,0,0,<=50K,0,0,1,...,0,0,0,0,0,0,0,1,0,0

# Encoding the dependent variable

In [10]:
from sklearn.preprocessing import LabelEncoder

def encode_income(dataset):
    le = LabelEncoder()
    dataset['income'] = le.fit_transform(dataset['income'])
    return dataset

encode_income(dfTrain)
encode_income(dfTest)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,0,1,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,1,0,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
6,1,0,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16274,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16275,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16277,0,1,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16278,1,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16279,0,0,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
X_train = dfTrain.loc[:, dfTrain.columns != 'income'].values
y_train = dfTrain['income'].values
X_test = dfTest.loc[:, dfTest.columns != 'income'].values
y_test = dfTest['income'].values

In [12]:
X_train

array([[1, 0, 1, ..., 1, 0, 0],
       [0, 1, 0, ..., 1, 0, 0],
       [1, 1, 0, ..., 1, 0, 0],
       ...,
       [1, 0, 0, ..., 1, 0, 0],
       [0, 1, 0, ..., 1, 0, 0],
       [1, 1, 0, ..., 1, 0, 0]], dtype=int64)

In [13]:
y_train

array([0, 0, 0, ..., 0, 0, 1])

In [ ]:
X_test

In [18]:
y_test

array([0, 1, 1, ..., 0, 0, 1])

# Building k-means clustering algorithm over the training set

## k value = 3

In [21]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=3)
kmeans.fit(X_train)

KMeans(n_clusters=3)

In [22]:
from sklearn import metrics
score = metrics.accuracy_score(y_train, kmeans.predict(X_train))
print('Accuracy: {0:f}'.format(score))

Accuracy: 0.425185

In [23]:
kmeans.cluster_centers_

array([[ 2.79013292e-01,  4.78527607e-01,  2.74156442e-01,
         5.36809816e-02,  3.46370143e-02,  2.85020450e-01,
         2.70961145e-02,  4.93353783e-02,  7.88471370e-01,
         2.41564417e-02,  7.33640082e-02,  3.70654397e-02,
         5.11247444e-04,  3.47648262e-02,  4.89519427e-02,
         2.03220859e-02,  5.36809816e-03,  1.16308793e-02,
         1.63599182e-02,  1.82770961e-02,  3.11860941e-02,
         3.46370143e-02,  1.52862986e-01,  6.90184049e-03,
         3.39851738e-01,  3.64263804e-02,  2.30061350e-03,
         1.21421268e-02,  2.28016360e-01,  2.15362986e-01,
        -6.39679282e-18,  4.98466258e-03,  2.31339468e-02,
         6.91845603e-01,  4.66513292e-02,  1.80214724e-02,
         7.70705521e-02,  7.66871166e-04,  1.69350716e-01,
         8.85736196e-02,  4.69069530e-02,  9.61145194e-02,
         7.01687117e-02,  1.21037832e-01,  8.94683027e-04,
         1.00843558e-01,  2.50511247e-02,  1.08256646e-01,
         2.85020450e-02,  6.64621677e-02, -6.49480469e-15,
         5.31186094e-01,  5.54703476e-02,  3.17612474e-01,
         9.57310838e-02, -6.31439345e-16,  1.13752556e-02,
         2.95245399e-02,  1.01738241e-01,  8.56339468e-03,
         8.48798569e-01, -1.66533454e-15,  1.00000000e+00,
         7.66871166e-04,  3.32310838e-03,  1.66155419e-03,
         2.17280164e-03,  1.66155419e-03,  2.55623722e-03,
         7.66871166e-04,  4.85685072e-03,  2.93967280e-03,
         7.66871166e-04,  2.55623722e-03,  7.66871166e-04,
         3.70654397e-03,  1.91717791e-03,  7.11507676e-19,
         7.66871166e-04,  6.39059305e-04,  2.55623722e-04,
         3.45092025e-03,  1.78936605e-03,  1.15030675e-03,
         1.15030675e-03,  2.17280164e-03,  1.78936605e-03,
         3.83435583e-04,  2.77351738e-02,  1.27811861e-03,
         6.39059305e-04,  1.02249489e-03,  4.72903885e-03,
         1.78936605e-03,  8.94683027e-04,  3.83435583e-03,
         5.11247444e-04,  2.17280164e-03,  1.15030675e-03,
         3.83435583e-04,  1.27811861e-04,  9.06697342e-01,
         2.81186094e-03,  2.55623722e-04],
       [ 6.09876543e-01,  4.25248905e-01,  3.74990044e-01,
         1.21306252e-01,  6.52329749e-02,  4.22700119e-01,
         3.36121067e-02,  6.82596575e-02,  6.75029869e-01,
         6.04540024e-02,  1.22102748e-01,  4.01433692e-02,
         3.98247710e-04,  2.37355635e-02,  2.34169654e-02,
         7.64635603e-03,  5.25686977e-03,  1.01951414e-02,
         2.36559140e-02,  1.53723616e-02,  2.93906810e-02,
         4.62763839e-02,  1.85185185e-01,  1.91158901e-02,
         3.24571884e-01,  6.63480685e-02,  1.03544405e-03,
         2.86738351e-02,  1.90123457e-01, -5.19029264e-15,
         7.16845878e-04,  9.99283154e-01, -1.80411242e-16,
        -4.99600361e-15,  7.28583860e-16, -7.04297731e-16,
         4.81879729e-02,  2.38948626e-04,  1.98247710e-01,
         1.71724413e-01,  4.43647949e-02,  3.45679012e-02,
         6.96136997e-02,  4.03823178e-02,  7.96495420e-05,
         1.40023895e-01,  2.96296296e-02,  1.18598168e-01,
         2.77180406e-02,  7.66228594e-02,  9.92592593e-01,
         2.38948626e-04,  5.49581840e-03,  1.59299084e-03,
         1.55431223e-15,  7.96495420e-05,  7.16845878e-03,
         2.94703305e-02,  4.95420151e-02,  6.13301474e-03,
         9.07686181e-01, -1.44328993e-15,  1.00000000e+00,
         7.96495420e-04,  3.74352847e-03,  2.94703305e-03,
         1.27439267e-03,  3.26563122e-03,  1.03544405e-03,
         9.55794504e-04,  2.30983672e-03,  2.62843489e-03,
         8.76144962e-04,  4.30107527e-03,  1.43369176e-03,
         1.11509359e-03,  7.16845878e-04,  1.00966327e-18,
        -7.42678488e-18,  7.16845878e-04,  3.98247710e-04,
         4.93827160e-03,  1.67264038e-03,  6.37196336e-04,
         3.26563122e-03,  1.67264038e-03,  2.15053763e-03,
         5.57546794e-04,  2.11071286e-02,  8.76144962e-04,
         1.59299084e-04,  6.37196336e-04,  6.29231382e-03,
         1.99123855e-03,  1.19474313e-03,  2.46913580e-03,
         2.38948626e-04,  2.30983672e-03,  1.83193947e-03,
         3.18598168e-04,  5.57546794e-04,  9.14137794e-01,
         1.59299084e-03,  8.76144962e-04],
       [ 4.20363934e-01,  4.21386220e-01,  3.11694950e-01,
         5.37722347e-02,  3.44510325e-02,  1.69699448e-01,
         3.15886322e-02,  8.42363525e-02,  7.81230832e-01,
         1.28808015e-02,  4.00736046e-02,  4.94786342e-02,
         5.11142916e-04,  2.55571458e-02,  3.79268043e-02,
         1.24718871e-02,  4.39582907e-03,  7.05377223e-03,
         1.34941730e-02,  1.21652014e-02,  4.03802903e-02,
         4.65140053e-02,  1.55591903e-01,  8.28051523e-03,
         3.17521979e-01,  5.20343488e-02,  1.43120016e-03,
         8.89388673e-03,  2.56287058e-01,  2.58536087e-01,
         1.22674300e-03,  1.51298303e-01,  1.93212022e-02,
         4.40809650e-01,  5.86792067e-02,  7.01288080e-02,
         2.56798201e-01,  5.14996032e-18,  2.20813740e-02,
         1.16847270e-01,  6.64485790e-03,  1.67654876e-02,
         5.55101206e-02,  1.79717849e-01,  1.38008587e-02,
         1.52422817e-01,  7.76937232e-03,  1.27581272e-01,
         3.48599468e-02,  9.20057248e-03,  1.02228583e-04,
         3.64547127e-01,  3.94602331e-02,  2.00470251e-01,
         2.51789000e-01,  1.43631159e-01,  1.09384584e-02,
         3.00552034e-02,  1.43017788e-01,  8.89388673e-03,
         8.07094664e-01,  1.00000000e+00, -1.97619698e-14,
         2.04457166e-04,  3.47577183e-03,  1.84011450e-03,
         2.35125741e-03,  3.88468616e-03,  3.47577183e-03,
         9.20057248e-04,  3.37354324e-03,  3.06685749e-03,
         1.02228583e-03,  5.52034349e-03,  5.11142916e-04,
         2.04457166e-03,  1.84011450e-03,  1.02228583e-04,
         6.13371499e-04,  5.11142916e-04,  6.13371499e-04,
         1.12451441e-03,  7.15600082e-04,  7.15600082e-04,
         1.84011450e-03,  4.29360049e-03,  1.84011450e-03,
         7.15600082e-04,  1.30852586e-02,  1.22674300e-03,
         7.15600082e-04,  1.43120016e-03,  7.36045798e-03,
         1.73788591e-03,  1.22674300e-03,  4.90697199e-03,
         4.08914332e-04,  2.55571458e-03,  1.02228583e-03,
         1.02228583e-03,  1.02228583e-03,  9.13105704e-01,
         2.24902883e-03,  3.06685749e-04]])

## k value = 5

In [24]:
kmeans = KMeans(n_clusters=5)
kmeans.fit(X_train)

KMeans(n_clusters=5)

In [25]:
score = metrics.accuracy_score(y_train, kmeans.predict(X_train))
print('Accuracy: {0:f}'.format(score))

Accuracy: 0.135274

In [26]:
kmeans.cluster_centers_

array([[ 6.50521921e-01,  4.13778706e-01,  1.00000000e+00,
         1.70981211e-01,  8.76826722e-02,  5.15240084e-01,
         4.36325678e-02,  8.58037578e-02,  6.13152401e-01,
         8.26722338e-02,  1.12317328e-01,  6.22129436e-02,
         2.08768267e-04,  1.35308431e-16,  5.13478149e-16,
        -7.80625564e-17, -2.94902991e-17,  1.73472348e-18,
        -6.24500451e-17,  1.33573708e-16,  7.70354906e-02,
         1.21503132e-01,  4.96868476e-01,  5.13569937e-02,
        -2.22044605e-15,  1.77035491e-01,  1.73472348e-17,
         7.62004175e-02, -2.44249065e-15,  1.06471816e-02,
         6.26304802e-04,  9.82672234e-01,  1.46137787e-03,
        -7.77156117e-16,  2.29645094e-03,  2.29645094e-03,
         4.59290188e-02,  2.08768267e-04,  8.26722338e-02,
         2.71189979e-01,  2.25469729e-02,  1.04384134e-02,
         1.79540710e-02,  1.58663883e-02,  2.08768267e-04,
         3.20459290e-01,  2.52609603e-02,  1.32776618e-01,
         3.77870564e-02,  1.67014614e-02,  9.76617954e-01,
         3.54906054e-03,  4.38413361e-03,  2.29645094e-03,
         1.29436326e-02,  2.08768267e-04,  2.29645094e-03,
         4.71816284e-02,  3.15240084e-02,  3.75782881e-03,
         9.15240084e-01,  2.08768267e-04,  9.99791232e-01,
         2.08768267e-04,  5.63674322e-03,  5.01043841e-03,
         1.25260960e-03,  2.50521921e-03,  2.08768267e-04,
         8.35073069e-04,  1.87891441e-03,  4.80167015e-03,
         2.29645094e-03,  5.84551148e-03,  1.87891441e-03,
         2.08768267e-04,  4.17536534e-04,  2.10064171e-19,
        -3.84891771e-18,  1.46137787e-03,  4.17536534e-04,
         1.14822547e-02,  3.75782881e-03,  6.26304802e-04,
         2.92275574e-03,  1.46137787e-03,  4.38413361e-03,
         4.17536534e-04,  4.59290188e-03,  6.26304802e-04,
         2.54787511e-18,  4.17536534e-04,  9.81210856e-03,
         1.67014614e-03,  6.26304802e-04,  1.67014614e-03,
         2.08768267e-04,  3.34029228e-03,  3.96659708e-03,
         2.08768267e-04,  1.08420217e-19,  9.09812109e-01,
         1.67014614e-03,  1.46137787e-03],
       [ 5.87614446e-01,  4.31078332e-01,  1.44328993e-15,
         9.25737538e-02,  5.12461851e-02,  3.69277721e-01,
         2.79755849e-02,  5.77314344e-02,  7.10579858e-01,
         4.74313327e-02,  1.28687691e-01,  2.70854527e-02,
         5.08646999e-04,  3.78942014e-02,  3.73855544e-02,
         1.22075280e-02,  8.39267548e-03,  1.62767040e-02,
         3.77670397e-02,  2.45422177e-02, -3.12250226e-16,
        -3.26128013e-16, -1.99840144e-15, -5.72458747e-17,
         5.20091556e-01, -1.17961196e-16,  1.65310275e-03,
         2.42861287e-16,  3.03789420e-01, -2.77555756e-16,
         7.62970498e-04,  9.99237030e-01, -1.64798730e-16,
        -3.55271368e-15, -4.30211422e-16,  1.94289029e-16,
         4.93387589e-02,  2.54323499e-04,  2.67166836e-01,
         1.13301119e-01,  5.73499491e-02,  4.89572737e-02,
         1.00330621e-01,  5.50610376e-02,  1.14491749e-16,
         3.25534079e-02,  3.20447609e-02,  1.09867752e-01,
         2.12360122e-02,  1.12538149e-01,  9.89954222e-01,
        -3.77475828e-15,  6.61241099e-03,  3.43336724e-03,
         3.33066907e-16, -6.31439345e-16,  1.00457782e-02,
         1.86927772e-02,  6.02746694e-02,  7.62970498e-03,
         9.03357070e-01,  1.27161750e-04,  9.99872838e-01,
         1.14445575e-03,  2.54323499e-03,  1.65310275e-03,
         1.27161750e-03,  3.68769074e-03,  1.52594100e-03,
         1.01729400e-03,  2.67039674e-03,  1.27161750e-03,
         2.54323499e-04,  3.43336724e-03,  1.14445575e-03,
         1.65310275e-03,  8.90132248e-04,  7.04731412e-19,
        -5.96311195e-18,  2.54323499e-04,  3.81485249e-04,
         1.01729400e-03,  3.81485249e-04,  6.35808749e-04,
         3.43336724e-03,  1.78026450e-03,  7.62970498e-04,
         6.35808749e-04,  3.11546287e-02,  1.01729400e-03,
         2.54323499e-04,  7.62970498e-04,  4.06917599e-03,
         2.28891150e-03,  1.52594100e-03,  2.92472024e-03,
         2.54323499e-04,  1.65310275e-03,  5.08646999e-04,
         3.81485249e-04,  8.90132248e-04,  9.16836216e-01,
         1.52594100e-03,  5.08646999e-04],
       [ 1.32485549e-01,  4.44161850e-01,  3.33641618e-01,
         3.56069364e-02,  2.86705202e-02,  1.44739884e-01,
         2.49710983e-02,  6.05780347e-02,  8.37456647e-01,
         6.93641618e-03,  2.17341040e-02,  4.83236994e-02,
         2.00577402e-18,  2.52023121e-02,  5.01734104e-02,
         1.73410405e-02,  3.23699422e-03,  5.78034682e-03,
         6.24277457e-03,  9.47976879e-03,  3.56069364e-02,
         3.93063584e-02,  1.96994220e-01,  7.39884393e-03,
         2.54335260e-01,  4.62427746e-02,  2.31213873e-03,
         8.09248555e-03,  2.92254335e-01,  6.38378239e-16,
         6.50521303e-18,  2.08092486e-03,  1.01734104e-02,
         9.78265896e-01,  8.32369942e-03,  1.15606936e-03,
         2.54566474e-01,  8.13151629e-19,  1.57225434e-02,
         8.78612717e-02,  4.85549133e-03,  1.89595376e-02,
         4.67052023e-02,  1.94219653e-01,  1.31791908e-02,
         1.49364162e-01,  8.55491329e-03,  1.61387283e-01,
         3.72254335e-02,  7.39884393e-03,  3.21964677e-15,
         4.44624277e-01,  4.69364162e-02,  4.06936416e-01,
         1.01502890e-01, -4.99600361e-16,  7.63005780e-03,
         3.28323699e-02,  1.45664740e-01,  9.71098266e-03,
         8.04161850e-01,  1.00000000e+00,  1.66533454e-15,
         2.31213873e-04,  2.54335260e-03,  4.62427746e-04,
         2.08092486e-03,  2.54335260e-03,  3.46820809e-03,
         6.93641618e-04,  3.93063584e-03,  2.08092486e-03,
         9.24855491e-04,  4.39306358e-03,  2.31213873e-04,
         2.77456647e-03,  1.15606936e-03,  2.31213873e-04,
         2.31213873e-04,  4.62427746e-04,  4.62427746e-04,
         1.15606936e-03,  2.31213873e-04,  6.93641618e-04,
         9.24855491e-04,  5.54913295e-03,  1.38728324e-03,
         6.93641618e-04,  1.54913295e-02,  1.61849711e-03,
         6.93641618e-04,  1.38728324e-03,  7.16763006e-03,
         1.84971098e-03,  9.24855491e-04,  2.77456647e-03,
         2.65629532e-18,  1.38728324e-03,  1.15606936e-03,
         9.24855491e-04,  1.15606936e-03,  9.20693642e-01,
         3.00578035e-03,  2.31213873e-04],
       [ 2.69360707e-01,  4.81029106e-01,  2.66502079e-01,
         5.09355509e-02,  3.44334719e-02,  2.81314969e-01,
         2.61174636e-02,  4.82068607e-02,  7.93788981e-01,
         2.31288981e-02,  7.22453222e-02,  3.59927235e-02,
         5.19750520e-04,  3.53430353e-02,  4.97661123e-02,
         2.06600832e-02,  5.45738046e-03,  1.18243243e-02,
         1.66320166e-02,  1.85810811e-02,  3.11850312e-02,
         3.48232848e-02,  1.47869023e-01,  6.23700624e-03,
         3.41865904e-01,  3.48232848e-02,  2.33887734e-03,
         1.15644491e-02,  2.31029106e-01,  2.08419958e-01,
        -5.85469173e-18,  2.85862786e-03,  2.26091476e-02,
         7.03352391e-01,  4.59979210e-02,  1.67619543e-02,
         7.61434511e-02,  7.79625780e-04,  1.71127859e-01,
         8.48492723e-02,  4.74272349e-02,  9.75831601e-02,
         7.12058212e-02,  1.22791060e-01,  9.09563410e-04,
         9.77130977e-02,  2.53378378e-02,  1.08627859e-01,
         2.85862786e-02,  6.69178794e-02, -6.16173779e-15,
         5.38201663e-01,  5.60031185e-02,  3.20556133e-01,
         8.52390852e-02, -6.31439345e-16,  1.14345114e-02,
         2.93659044e-02,  1.02260915e-01,  8.57588358e-03,
         8.48362786e-01, -1.72084569e-15,  1.00000000e+00,
         7.79625780e-04,  3.37837838e-03,  1.68918919e-03,
         2.20893971e-03,  1.68918919e-03,  2.59875260e-03,
         7.79625780e-04,  4.80769231e-03,  2.98856549e-03,
         5.19750520e-04,  2.46881497e-03,  7.79625780e-04,
         3.76819127e-03,  1.94906445e-03,  6.91178885e-19,
         6.49688150e-04,  6.49688150e-04,  2.59875260e-04,
         3.37837838e-03,  1.81912682e-03,  1.16943867e-03,
         1.16943867e-03,  2.20893971e-03,  1.81912682e-03,
         3.89812890e-04,  2.79365904e-02,  1.29937630e-03,
         6.49688150e-04,  1.03950104e-03,  4.67775468e-03,
         1.68918919e-03,  9.09563410e-04,  3.89812890e-03,
         5.19750520e-04,  2.20893971e-03,  1.16943867e-03,
         3.89812890e-04,  1.29937630e-04,  9.06444906e-01,
         2.85862786e-03,  2.59875260e-04],
       [ 6.50565075e-01,  4.02843602e-01,  2.94932556e-01,
         6.85380970e-02,  3.91906672e-02,  1.88479767e-01,
         3.73678454e-02,  1.03718556e-01,  7.34597156e-01,
         1.76813708e-02,  5.45023697e-02,  5.12212906e-02,
         9.11410864e-04,  2.57017864e-02,  2.80714546e-02,
         8.56726212e-03,  5.28618301e-03,  8.02041560e-03,
         1.91396281e-02,  1.42180095e-02,  4.46591323e-02,
         5.23149836e-02,  1.22675902e-01,  8.93182647e-03,
         3.68027707e-01,  5.66897557e-02,  7.29128691e-04,
         9.66095516e-03,  2.27305869e-01,  4.66460080e-01,
         2.18738607e-03,  2.67772512e-01,  2.64309151e-02,
         1.47648560e-02,  9.80678090e-02,  1.24316442e-01,
         2.59752096e-01, -8.67361738e-19,  2.69777616e-02,
         1.40174991e-01,  8.02041560e-03,  1.49471382e-02,
         6.21582209e-02,  1.67335035e-01,  1.42180095e-02,
         1.54757565e-01,  7.10900474e-03,  1.00255195e-01,
         3.33576376e-02,  1.09369304e-02,  8.88178420e-16,
         2.99489610e-01,  3.31753555e-02,  3.66387167e-02,
         3.74589865e-01,  2.56106453e-01,  1.36711630e-02,
         2.80714546e-02,  1.41268684e-01,  8.20269778e-03,
         8.08786001e-01,  9.94349253e-01,  5.65074736e-03,
         1.82282173e-04,  4.19248997e-03,  2.91651476e-03,
         2.55195042e-03,  4.92161867e-03,  3.46336128e-03,
         1.09369304e-03,  2.91651476e-03,  3.82792563e-03,
         1.09369304e-03,  6.37987605e-03,  7.29128691e-04,
         1.45825738e-03,  2.36966825e-03,  3.72694497e-19,
         1.09369304e-03,  5.46846518e-04,  7.29128691e-04,
         1.09369304e-03,  1.09369304e-03,  7.29128691e-04,
         2.55195042e-03,  3.28107911e-03,  2.18738607e-03,
         7.29128691e-04,  1.11192125e-02,  9.11410864e-04,
         7.29128691e-04,  1.45825738e-03,  7.65585126e-03,
         1.64053956e-03,  1.45825738e-03,  6.56215822e-03,
         7.29128691e-04,  3.46336128e-03,  9.11410864e-04,
         1.09369304e-03,  9.11410864e-04,  9.07218374e-01,
         1.64053956e-03,  3.64564346e-04]])

## k value = 10

In [27]:
kmeans = KMeans(n_clusters=10)
kmeans.fit(X_train)

KMeans(n_clusters=10)

In [28]:
score = metrics.accuracy_score(y_train, kmeans.predict(X_train))
print('Accuracy: {0:f}'.format(score))

Accuracy: 0.105932

In [29]:
kmeans.cluster_centers_

array([[ 6.43787575e-01,  4.28857715e-01,  1.54809619e-01, ...,
         9.26352705e-01,  5.01002004e-04, -1.19262239e-18],
       [ 5.92362507e-01,  4.30111456e-01, -2.49800181e-15, ...,
         9.03526402e-01,  1.64443632e-03,  5.48145441e-04],
       [ 9.04411765e-02,  5.05882353e-01,  2.57352941e-02, ...,
         8.92647059e-01,  3.92156863e-03,  4.90196078e-04],
       ...,
       [ 3.05651672e-01,  4.71164937e-01,  9.99423299e-01, ...,
         9.18108420e-01,  2.88350634e-03, -7.58941521e-19],
       [ 3.56671740e-01,  4.21106038e-01,  9.96955860e-01, ...,
         9.24403856e-01,  1.52207002e-03, -1.08420217e-18],
       [ 5.15316542e-01,  3.94145677e-01,  3.92784207e-01, ...,
         8.78829135e-01,  2.72294078e-03,  6.80735194e-04]])

# Applying the kNN algorithm on the last 10 records from the test set

In [45]:
dfTest = dfTest[-10:]
dfTest

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
16269,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16270,1,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16271,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16272,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16273,1,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
16274,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16275,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16277,0,1,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16278,1,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16279,0,0,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [46]:
for attributes in dfTrain.keys():
    if attributes not in dfTest.keys():
        print('Adding missing feature {}'.format(attributes))
        dfTest[attributes] = 0
        
dfTest = dfTest[dfTrain.keys()]

In [47]:
X_test = dfTest.loc[:, dfTest.columns != 'income'].values
y_test = dfTest['income'].values

In [48]:
X_test

array([[1, 1, 0, ..., 1, 0, 0],
       [1, 0, 0, ..., 1, 0, 0],
       [0, 1, 0, ..., 1, 0, 0],
       ...,
       [0, 1, 1, ..., 1, 0, 0],
       [1, 0, 1, ..., 1, 0, 0],
       [0, 0, 1, ..., 1, 0, 0]], dtype=int64)

In [49]:
y_test

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

## k value = 3

In [54]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
predictions = knn.predict(X_test)

In [56]:
print('Accuracy: ' + str(accuracy_score(y_test, predictions)))
print(classification_report(y_test, predictions))

Accuracy: 0.8
              precision    recall  f1-score   support

           0       1.00      0.78      0.88         9
           1       0.33      1.00      0.50         1

    accuracy                           0.80        10
   macro avg       0.67      0.89      0.69        10
weighted avg       0.93      0.80      0.84        10

## k value = 5

In [57]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
predictions = knn.predict(X_test)

In [58]:
print('Accuracy: ' + str(accuracy_score(y_test, predictions)))
print(classification_report(y_test, predictions))

Accuracy: 0.9
              precision    recall  f1-score   support

           0       1.00      0.89      0.94         9
           1       0.50      1.00      0.67         1

    accuracy                           0.90        10
   macro avg       0.75      0.94      0.80        10
weighted avg       0.95      0.90      0.91        10

## k value = 10

In [59]:
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train, y_train)
predictions = knn.predict(X_test)

In [60]:
print('Accuracy: ' + str(accuracy_score(y_test, predictions)))
print(classification_report(y_test, predictions))

Accuracy: 0.9
              precision    recall  f1-score   support

           0       1.00      0.89      0.94         9
           1       0.50      1.00      0.67         1

    accuracy                           0.90        10
   macro avg       0.75      0.94      0.80        10
weighted avg       0.95      0.90      0.91        10